// Layout Helper Classes

.m-y-05 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.m-t-05 {
  margin-top: 0.5em;
}

.m-b-05 {
  margin-bottom: 0.5em;
}

// Typography Helper Classes

.bold-text {
  font-weight: 600;
}

// Places Page Classes

.places-results {
  color: #333;
  div:hover {
    color: #333;
    background-color: #eee;
  }
}

// Open Weather Widget Classes

.weather {
  border: 1px solid #333;
  p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}

// Google Maps Widget Classes

#map {
  height: 30.0em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}