// Layout Helper Classes

.m-y-05 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.m-t-05 {
  margin-top: 0.5em;
}

.m-b-05 {
  margin-bottom: 0.5em;
}

// Typography Helper Classes

.bold-text {
  font-weight: 600;
}

// Places Page Classes

.places-results {
  color: #333;
  div:hover {
    color: #333;
    background-color: #eee;
  }
}

// Open Weather Widget Classes

.weather {
  border: 1px solid #333;
  p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}

// Google Maps Widget Classes

#map {
  height: 30.0em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

// Translucent Form Overlay

$translucent-form-overlay-max-width: 500px;

.translucent-form-overlay {
  max-width: $translucent-form-overlay-max-width;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  color: $white;

  // workaround 6.3.0 bug
  // .columns.row {
  //   display: block;
  // }

  h3, label {
    color: $white;
  }
  input, select {
    color: $dark-gray;
  }
  input::placeholder {
    color: $dark-gray;
  }
}

// Login page styles

.login-page {
  min-height: 30.0em;
  background-image: url('../img/login-background.jpg');
  background-size: cover;
}