h3.text-center About the Outdoor Activity Finder
div.row
  div.small-12.medium-10.medium-offset-1
    p This application is the Capstone Project for my Treehouse Full-Stack JavaScript Techdegree. &nbsp;It's purpose is to demonstrate my knowledge in the following areas:
    ul
      li HTML and CSS
      li Using JavaScript to modify the DOM
      li JavaScript frontend libraries like jQuery
      li Using a styling framework like Bootstrap or Foundation
      li The module pattern in JavaScript
      li Using NodeJS and Express
      li Using a task runner like Gulp
      li Using a SQL or no-SQL database
      li Using a frontend Framework like Angular or Vue
      li Connecting to an API
      li Authentication and Sessions
      li Unit Testing
h4.text-center.m-y-1 Technologies Used
div.row
  div.small-12.medium-10.medium-offset-1
    div.row
      div.small-12.medium-3.columns.medium-offset-1
        div.card
          div.card-divider
            h6.text-center.bold-text API's
          div.card-section
            p &bull;Trail API
              br 
              | &bull; Google Geolocation API
              br
              | &bull; Google Maps API
              br
              | &bull; OpenWeather API
      div.small-12.medium-3.columns
        div.card
          div.card-divider
            h6.text-center.bold-text Web Framework
          div.card-section
            p &bull; Express
      div.small-12.medium-3.columns
        div.card
          div.card-divider
            h6.tex-center.bold-text Front End Styling
          div.card-section
            p &bull; Foundation 6
              br 
              | &bull; SASS
    div.row
      div.small-12.medium-3.columns.medium-offset-1
        div.card
          div.card-divider
            h6.text-center.bold-text Front End JS Framework
          div.card-section
            p &bull; VueJS
      div.small-12.medium-3.columns
        div.card
          div.card-divider
            h6.text-center.bold-text Database
          div.card-section
            p &bull; MongoDB
      div.small-12.medium-3.columns
        div.card
          div.card-divider
            h6.text-center.bold-text Task runner
          div.card-section
            p &bull; Gulp
    div.row
      div.small-12.medium-3.columns.medium-offset-1
        div.card
          div.card-divider
            h6.text-center.bold-text Authentication
          div.card-section
            p &bull; NodeJS
      div.small-12.medium-3.columns
        div.card
          div.card-divider
            h6.text-center.bold-text Session Storage
          div.card-section
            p &bull; MongoStore
      div.small-12.medium-3.columns
        div.card
          div.card-divider
            h6.text-center.bold-text Unit Testing
          div.card-section
            p &bull; Mocha and Chai
h4.text-center.m-y-1 Additional Thoughs About This Project
div.small-12.medium-10.medium-offset-1
  p In the process of creating this project I've learned some valuable lessons. &nbsp;&nbsp;First is that planning out what you need to do first really helps. &nbsp;&nbsp;Second is that API's 
    | are not always everything that you hoped for. &nbsp;&nbsp;When you can't do things such as query data using a unique identifier, it can be challenging. &nbsp;&nbsp;Third is that
    | making a website look good is really hard. &nbsp;&nbsp;As Master Yoda might say: 'Designer I am not.'
  p I have to be honest and say that, although I did set out to make a useful application, I did not set out to re-invent the wheel. &nbsp;&nbsp;I know that there are a lot of activity finder 
    | websites out there, and that most of them are probably nicer than mine. &nbsp;&nbsp;This website is a proof of concept, a way for me to say 'Hey, I really can do this!', and
    | maybe someone will find something cool to do nearby that they never knew about.