div.translucent-form-overlay
  form(action="/changepassword" method="post")
    h3 Change Your Password
    div.row.columns
      label Current Password
        if errorFields
          -if (errorFields.indexOf("currentPassword") !== -1)
            input.validation-error-field(type="password" name="currentPassword" placeholder="Current Password")
          -else if (errorFields.indexOf("currentPassword") == -1)
            input(type="password" name="currentPassword" placeholder="Current Password")
        else
          input(type="password" name="currentPassword" placeholder="Current Password")
    div.row.columns
      label New Password
        if errorFields
          -if (errorFields.indexOf("password") !== -1)
            input.validation-error-field(type="password" name="password" placeholder="Password")
          -else if (errorFields.indexOf("password") == -1)
            input(type="password" name="password" placeholder="Password")
        else
          input(type="password" name="password" placeholder="Password")
    div.row.columns
      label Re-type New Password
        if errorFields
          -if (errorFields.indexOf("confirmPassword") !== -1)
            input.validation-error-field(type="password" name="confirmPassword" placeholder="Re-Type Password")
          -else if (errorFields.indexOf("confirmPassword") == -1)
            input(type="password" name="confirmPassword" placeholder="Re-Type Password")
        else
          input(type="password" name="confirmPassword" placeholder="Re-Type Password")
    button.primary.button.expanded.search-button(type="submit") Submit