footer.row
    div.large-12.columns
      div.row
        div.large-5.columns
          p &copy; Smellydog Coding
script(src="js/vue.js")
script(src="js/vue-resource.min.js")
script(src="js/frontend.js")

//- script(src="https://code.jquery.com/jquery-2.1.4.min.js")
//- script(src="https://cdnjs.cloudflare.comjaxbs/foundation/5.5.3/js/foundation.min.js")
//- script
//-   $(document).foundation();