h3.text-center.m-y-1 404
div.row
  div.large-6.columns
    img(src="img/errordog.jpg" alt="404 dog")
  div.large-6.columns
    p Oh Hai!
    p I'm sorry I couldn't find that page you were looking for. &nbsp; But isn't it time to take a break anyway? &nbsp; It's really nice out here in the sun.
    p If you want to click the back button and try something else that's cool too.
    p BTW, if you're pretty sure that this is supposed to be an actual page, you can 
      a(href="mailto:smellydogcoding@gmail.com") email the website owner 
      | and tell him about it.