div.row.m-b-05
    div.large-12.columns
      div.top-bar
        div.top-bar-left
          h3 Outdoor Activities Locator
        div.top-bar-right
          ul.menu
            if user
              li Hello #{user}
              li
                a(href="/logout") Log Out
            else
              li
                a(href="/login") Sign In
              li
                a(href="#") Sign Up