div.row
    div.large-12.columns
      div.panel.p-y-05
        div.row
          div.large-6.columns
            h3 Outdoor Activities Locator
          div.large-6.columns
            ul.inline-list.right.m-t-05
                li
                  a(href="#") Sign In
                li
                  a(href="#") Sign Up