div.row.m-b-05
    div.large-12.columns
      div.top-bar
        div.top-bar-left
          a(href="/")
            h3 Outdoor Activities Locator
        div.top-bar-right
          ul.menu
            if currentUser
              li 
                span Hello #[a(href="/user") #{currentUser}]
              li
                a(href="/logout") Log Out
            else
              li
                a(href="/login") Sign In
              li
                a(href="/signup") Sign Up