div.row
    div.large-12.columns
      div.top-bar
        div.top-bar-left
          h3 Outdoor Activities Locator
        div.top-bar-right
          ul.menu
            li
              a(href="#") Sign In
            li
              a(href="#") Sign Up