div.large-2.columns
  if errorFields
    -if (errorFields.indexOf("radius") !== -1)
      select.validation-error-field(name="radius" required)
        option(value="") Distance
        option(value="5") 5 Miles
        option(value="10") 10 Miles
        option(value="15") 15 Miles
        option(value="20") 20 Miles
        option(value="25") 25 Miles
        option(value="30") 30 Miles
        option(value="40") 40 Miles
        option(value="50") 50 Miles
    -else if (errorFields.indexOf("radius") == -1)
      select(name="radius" required)
        option(value="") Distance
        if radius == "5"
          option(value="5" selected) 5 Miles
        else
          option(value="5") 5 Miles
        if radius == "10"
          option(value="10" selected) 10 Miles
        else
          option(value="10") 10 Miles
        if radius == "15"
          option(value="15" selected) 15 Miles
        else
          option(value="15") 15 Miles
        if radius == "20"
          option(value="20" selected) 20 Miles
        else
          option(value="20") 20 Miles
        if radius == "25"
          option(value="25" selected) 25 Miles
        else
          option(value="25") 25 Miles
        if radius == "30"
          option(value="30" selected) 30 Miles
        else
          option(value="30") 30 Miles
        if radius == "40"
          option(value="40" selected) 40 Miles
        else
          option(value="40") 40 Miles
        if radius == "50"
          option(value="50" selected) 50 Miles
        else
          option(value="50") 50 Miles
  else if radius
    select(name="radius" required)
      option(value="") Distance
      if radius == "5"
        option(value="5" selected) 5 Miles
      else
        option(value="5") 5 Miles
      if radius == "10"
        option(value="10" selected) 10 Miles
      else
        option(value="10") 10 Miles
      if radius == "15"
        option(value="15" selected) 15 Miles
      else
        option(value="15") 15 Miles
      if radius == "20"
        option(value="20" selected) 20 Miles
      else
        option(value="20") 20 Miles
      if radius == "25"
        option(value="25" selected) 25 Miles
      else
        option(value="25") 25 Miles
      if radius == "30"
        option(value="30" selected) 30 Miles
      else
        option(value="30") 30 Miles
      if radius == "40"
        option(value="40" selected) 40 Miles
      else
        option(value="40") 40 Miles
      if radius == "50"
        option(value="50" selected) 50 Miles
      else
        option(value="50") 50 Miles
  else
    select(name="radius" required)
      option(value="") Distance
      option(value="5") 5 Miles
      option(value="10") 10 Miles
      option(value="15") 15 Miles
      option(value="20") 20 Miles
      option(value="25") 25 Miles
      option(value="30") 30 Miles
      option(value="40") 40 Miles
      option(value="50") 50 Miles