include ./partials/_head.pug
body
  div#app
    include ./partials/_nav.pug
    div
      include ./partials/_userlist.pug
      hr
      include ./partials/_placelist.pug
  include ./partials/_footer.pug
script(src="js/app.js")