include ./partials/_head.pug
body
  div#app
    include ./partials/_nav.pug
    div.row
      div.large-12.columns.login-page.m-t-1
        if errorMessages
          div.row
            div.large-12.columns.text-center.validation-error-message
              ul
                each error in errorMessages
                  li.errorMessage &bull; #{error}
        if successMessage
          div.row
            div.large-5.columns.success-message
              p.text-center #{successMessage}
        div.large-6.column.large-centered.m-t-1.p-b-1
          include ./partials/_changepassword-form.pug
  include ./partials/_footer.pug