include ./partials/_head.pug
body
  div.row
    div.large-12.columns
      div.panel
        h1 Feed Template
  div.row
    div.large-3.columns
      div.panel
        a(href="#")
          img(src="https:/placehold.it/300x240&text=[img]")
        h5
          a(href="#") Your Name
        div.section-container.vertical-nav(data-section data-options="deep_linking: false; one_up: true")
          section.section
            h5.title
              a(href="https://cdnjs.cloudflare.comjaxbs/foundation/5.5.3/css/normalize.min.css") Section 1
          section.section
            h5.title
              a(href="https://cdnjs.cloudflare.comjaxbs/foundation/5.5.3/css/foundation.min.css") Section 2
          section.section
            h5.title
              a(href="https://cdnjs.cloudflare.comjaxbs/foundicons/3.0.0/foundation-icons.css") Section 3
          section.section
            h5.title
              a(href="#") Section 4
          section.section
            h5.title
              a(href="#") Section 5
          section.section
            h5.title
              a(href="#") Section 6
    div.large-6.columns
      div.row
        div.large-2.columns.small-3
          img(src="https:/placehold.it/80x80&text=[img]")
        div.large-10.columns
          p #[strong Some Person said:] Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
          ul.inline-list
            li
              a(href="") Reply
            li
              a(href="") Share
          h6 2 Comments
          div.row
            div.large-2.columns.small-3
              img(src="https:/placehold.it/50x50&text=[img]")
            div.large-10.columns
              p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit
          div.row
            div.large-2.columns.small-3
              img(src="https:/placehold.it/50x50&text=[img]")
            div.large-10.columns
              p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit
      hr
      div.row
        div.large-2.columns.small-3
          img(src="https:/placehold.it/80x80&text=[img]")
        div.large-10.columns
          p #[strong Some Person said:] Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
          ul.inline-list
            li
              a(href="") Reply
            li
              a(href="") Share
      hr
      div.row
        div.large-2.columns.small-3
          img(src="https:/placehold.it/80x80&text=[img]")
        div.large-10.columns
          p #[strong Some Person said:] Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
          ul.inline-list
            li
              a(href="") Reply
            li
              a(href="") Share
          h6 2 Comments
          div.row
            div.large-2.columns.small-3
              img(src="https:/placehold.it/50x50&text=[img]")
            div.large-10.columns
              p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit
    aside.large-3.columns.hide-for-small
      p
        img(src="https:/placehold.it/300x440&text=[ad]")
      p
        img(src="https:/placehold.it/300x440&text=[ad]")
  footer.row
    div.large-12.columns
      hr
      div.row
        div.large-5.columns
          p &copy; Copyright no one at all. Go to town.
        div.large-7.columns
          ul.inline-list.right
            li
              a(href="#") Section 1
            li
              a(href="#") Section 2
            li
              a(href="#") Section 3
            li
              a(href="#") Section 4
            li
              a(href="#") Section 5
            li
              a(href="#") Section 6
  //- script src="https://code.jquery.com/jquery-2.1.4.min.js"/script
  //- script src="https://cdnjs.cloudflare.comjaxbs/foundation/5.5.3/js/foundation.min.js"/script
  //- script
  //-       $(document).foundation();
  //-     /script