include ./partials/_head.pug
body
  each item in places
    a(href="/place?lat=" + item.lat + "&lon=" + item.lon + "&name=" + item.name)
      p
        span #{item.name} 
        span #{item.distance} 
        span #{item.lat} 
        span #{item.lon} 