include ./partials/_head.pug
body
  div#app
    include ./partials/_nav.pug
    div.row.align-middle.login-page.m-t-1
      div.large-6.column.large-centered
        include ./partials/_login-form.pug
  include ./partials/_footer.pug