include ./partials/_head.pug
body
  include ./partials/_nav.pug
  div.row
    div.large-6.columns.m-t-05
      include ./partials/_place-map.pug
    div.large-6.columns
      include ./partials/_place-activities.pug
      include ./partials/_place-weather.pug
  div.row
    div.large-9.columns.large-offset-1
      include ./partials/_reviews.pug
  div.row
    div.large-9.columns.large-offset-1
      include ./partials/_add-review.pug
  include ./partials/_footer.pug