include ./partials/_head.pug
body
  include ./partials/_nav.pug
  div#places
    include ./partials/_searchbar.pug
    div.large-12.columns
      div.row
        h3.text-center Results
        hr
        include ./partials/_places-list.pug
  include ./partials/_footer.pug