include ./partials/_head.pug
body
  include ./partials/_nav.pug
  div.row.align-middle.login-page
    div.large-6.column.large-centered
      include ./partials/_signup-form.pug
  include ./partials/_footer.pug